.git

frontend/node_modules
frontend/dist
frontend/src/generated

backend/node_modules
backend/src/generated
backend/.env

openapi/node_modules

swagger-ui/node_modules

node_modules/

infra/
log-shipper/
tilt/
app-proxy/
