# This is an example .env file.
# Copy this file to `backend/.env` and edit the values to match your environment.
# See the documentation comments in backend/lib/env.ts for more information on each variable.

# GitHub
GITHUB_BASE_URL=https://github.rcac.purdue.edu
GITHUB_API_URL=https://github.rcac.purdue.edu/api/v3 # If you're using GitHub.com, this is https://api.github.com 
GITHUB_WEBHOOK_SECRET=

GITHUB_APP_NAME= # (your app's slug, e.g. anvilops)
GITHUB_APP_ID= # (should be a number, e.g. 7)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_PRIVATE_KEY= # make sure you encode this as Base64

# OIDC credentials
CLIENT_ID=
CLIENT_SECRET=

# To customize more, non-secret settings in Tilt, see `tilt/local-values.yaml`.
