apiVersion: apps/v1
kind: Deployment
metadata:
  name: anvilops
  namespace: anvilops-dev
spec:
  selector:
    matchLabels:
      app: anvilops
  template:
    metadata:
      labels:
        app: anvilops
    spec:
      containers:
        - name: anvilops
          image: registry.anvil.rcac.purdue.edu/anvilops/anvilops:main-40-de54df9e46a768e141e54b6f092b71d2879ed110 # {"$imagepolicy": "anvilops-dev:anvilops-imagepolicy"}
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: POSTGRES_USER
              value: anvilops
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-password
                  key: password
            - name: POSTGRES_DB
              value: anvilops
            - name: POSTGRES_HOSTNAME
              value: anvilops-postgres
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cilogon-credentials
                  key: client-id
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cilogon-credentials
                  key: client-secret
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: cilogon-credentials
                  key: session-secret
            - name: CALLBACK_URL
              value: https://anvilops.rcac.purdue.edu/api/oauth_callback
