apiVersion: networking.k8s.io/v1
kind: Ingress
namespace: anvilops-dev
metadata:
  name: ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: anvilops.rcac.purdue.edu
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: anvilops-service
            port:
              number: 80
