openapi: 3.1.0
servers:
  - url: http://localhost:3000/api
info:
  title: AnvilOps API
  description: ""
  version: 0.0.1
tags:
  - name: user
    description: Operations about users
  - name: org
    description: Operations about organizations
  - name: app
    description: Operations about apps
paths:
  /login:
    get:
      tags:
        - user
      description: Log in user
      operationId: auth_loginUser
      responses:
        '302':
          description: Redirect to identity provider
          headers:
            Location:
              content:
                text/plain:
                  schema:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:   
              schema:
                $ref: "#/components/schemas/ResponseError"
  
  /oauth_callback:
    get:
      tags:
        - user
      description: Handle callback
      operationId: auth_handleCallback
      responses:
        '302':
          description: Redirect to application
        '500':
          description: Unexpected Error
          content:
            application/json:   
              schema:
                $ref: "#/components/schemas/ResponseError"
  /logout:
    post: 
      tags:
        - user
      description: Logs out current user
      operationId: auth_logoutUser
      responses: 
        '200':
          description: Success
        "500":
          description: Unexpected Error
          content:
            application/json:   
              schema:
                $ref: "#/components/schemas/ResponseError"
  /user/me:
    get:
      tags:
      - user
      description: Returns the current user
      operationId: getUser
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    delete:
      tags:
        - user
      description: Deletes the current user.
      operationId: deleteUser
      # parameters:
      #   - name: access_token
      #     in: header
      #     required: true
      #     schema:
      #       type: string
      responses:
        '200':
          description: User deleted
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      
  /user/joinOrg:
      post:
        tags:
          - user
          - org
        description: Adds the current user to an organization
        operationId: joinOrg
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  inviteCode:
                    type: string
                required:
                  - inviteCode
        responses: 
          '200':
            description: Success
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/UserOrg"
          '401':
            description: Unauthorized
          "500":
            description: Unexpected Error
            content:
              application/json:   
                schema:
                  $ref: "#/components/schemas/ResponseError"
  /org:
    post:
      tags:
        - org
      description: Create an organization
      operationId: createOrg
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserOrg"
        '500':
            description: Unexpected Error
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ResponseError"
  /org/me:
    get:
      tags:
        - org
        - user
      description: Get organizations current user belongs to
      operationId: getOrgs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserOrg"
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"

  /org/{orgId}:
    parameters:
    - name: orgId
      in: path
      description: Id of organization to return
      required: true
      schema:
        type: integer
        format: int64
    get:
      tags:
        - org
      description: Get organization by id
      operationId: getOrgByID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Org"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    delete:
      tags:
        - org
      description: Deletes organization by id
      operationId: deleteOrgByID
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"

  /org/{orgId}/code:
    parameters:
    - name: orgId
      in: path
      description: Id of organization to return
      required: true
      schema:
        type: integer
        format: int64
    get:
      tags:
        - org
      description: Get invite code for org
      operationId: getInviteCodeByID
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /app:
    post:
      tags:
        - app
      description: Create an app.
      operationId: createApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/App"
      responses:
        '200':
          description: Success
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /app/{appId}:
    parameters:
        - name: appId
          in: path
          description: Id of app to return
          required: true
          schema:
            type: integer
            format: int64
    get:
      tags:
        - app
      description: Get app detail by id.
      operationId: getAppByID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
        '401':
          description: Unauthorized
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - app
      description: Update the configuration of an app.
      operationId: updateApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/App"
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    delete:
      tags:
        - app
      description: Delete an app.
      operationId: deleteApp
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        "500":
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
components:
  schemas:
    UserOrg:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        isOwner:
          type: boolean
      required:
        - id
        - name
        - isOwner
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        name:
          type: string
        org:
          $ref: "#/components/schemas/UserOrg"
      required:
        - id
        - email
        - name
        - org
    
    Org:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        apps:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
              name:
                type: string
      required:
        - id
        - name
        - apps
    App:
      type: object
      properties:
        id:
          type: integer
          format: int64
        orgId:
          type: integer
          format: int64
        createdAt:
          type: string
        updatedAt:
          type: string
        name:
          type: string
        repositoryURL:
          type: string
        port:
          type: integer
          format: int64
        dockerfilePath:
          type: string
    ResponseError:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
