openapi: 3.1.0
info:
  title: AnvilOps API
  description: ""
  version: 0.0.1
tags:
  - name: user
    description: Operations about users
paths:
  /user/me:
    get:
      description: Returns the current user
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        name:
          type: string
