anvilops:
  image: registry.anvil.rcac.purdue.edu/anvilops/anvilops:main-409-d9e73988a84746ddb111b9bc3def70b5c7bd0f3a
  env:
    baseURL: https://anvilops.rcac.purdue.edu
    appDomain: https://anvilops.rcac.purdue.edu
    harborProjectName: anvilops
    allowedIdps: https://access-ci.org/idp
    loginType: shibboleth
    loginClaim: eppn
    fileBrowserImage: registry.anvil.rcac.purdue.edu/anvilops/file-browser:latest
    dockerfileBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/dockerfile-builder:latest
    railpackBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/railpack-builder:latest
    logShipperImage: registry.anvil.rcac.purdue.edu/anvilops/log-shipper:latest
  cluster:
    name: "Anvil Composable"
    faq:
      question: "What is the Anvil Composable Subsystem?"
      answer: "Anvil Composable Subsystem is a Kubernetes based private cloud managed with Rancher that provides a platform for creating composable infrastructure on demand. This cloud-style flexibility provides researchers the ability to self-deploy and manage persistent services to complement HPC workflows and run container-based data analysis tools and applications."
      link: https://www.rcac.purdue.edu/knowledge/anvil/composable
  dnsResolver: kube-dns.kube-system.svc.cluster.local
  serviceAccount:
    create: false
    secretName: kube-auth
  ingress:
    className: nginx
    hosts:
      - host: anvilops.rcac.purdue.edu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-cert
        hosts:
          - anvilops.rcac.purdue.edu
  apps:
    ingress:
      className: nginx
      annotations:
postgres:
  image: postgres:17
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    storageClassName: anvil-filesystem
buildkitd:
  install: true
  address: "tcp://buildkitd:1234"
harbor:
  # We already have Harbor installed, so no need to install another instance just for AnvilOps.
  install: false
  expose:
    ingress:
      hosts:
        core: registry.anvil.rcac.purdue.edu
tenants:
  storageClassName: anvil-filesystem
  accessModes: [ReadWriteOnce]
