# This values file is substituted into the Helm chart when developing locally with Tilt.
# https://docs.tilt.dev/helm.html

anvilops:
  image: anvilops/anvilops
  dbMigrateImage: anvilops/migrate-db
  env:
    baseURL: http://localhost:3000
    appDomain: http://127.0.0.1.nip.io:3000 # Any subdomains of this will resolve to 127.0.0.1 (see https://nip.io/ for more info)
    harborProjectName: anvilops
    allowedIdps: https://access-ci.org/idp
    loginType: shibboleth
    loginClaim: eppn
    fileBrowserImage: anvilops/file-browser
    dockerfileBuilderImage: anvilops/dockerfile-builder
    railpackBuilderImage: anvilops/railpack-builder
    helmDeployerImage: anvilops/helm-deployer
    logShipperImage: anvilops/log-shipper
    allowHelmDeployments: true
    registryProtocol: http
  cluster:
    name: "Local"
    faq:
      question: "What is the Anvil Composable Subsystem?"
      answer: "Anvil Composable Subsystem is a Kubernetes based private cloud managed with Rancher that provides a platform for creating composable infrastructure on demand. This cloud-style flexibility provides researchers the ability to self-deploy and manage persistent services to complement HPC workflows and run container-based data analysis tools and applications."
      link: https://www.rcac.purdue.edu/knowledge/anvil/composable
  serviceAccount:
    create: false
    secretName: kube-auth
  ingress:
    className: nginx
    hosts:
      - host: localhost
        paths:
          - path: /
            pathType: Prefix
  securityContext:
    # These settings are required for Tilt's Live Reload feature, which copies files into the container at runtime.
    # When we aren't running as root, the script that copies the files doesn't have permission to write to the files it needs to write.
    # https://github.com/tilt-dev/tilt/blob/95096909efe883a6df10617cdafc1bfee6cf67fc/internal/containerupdate/tar.go#L24
    runAsUser: 0
    runAsGroup: 0
    runAsNonRoot: false
  apps:
    ingress:
      className: nginx
      annotations:
postgres:
  generateCredentials: false
  image: postgres:17
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    storageClassName: standard
buildkitd:
  install: true
  address: "tcp://anvilops-buildkitd.default.svc.cluster.local:1234"
harbor:
  install: false
  expose:
    ingress:
      hosts:
        core: registry.anvil.rcac.purdue.edu
tenants:
  storageClassName: standard
  accessModes: [ReadWriteOnce]
