# This values file is substituted into the Helm chart when developing locally with Tilt.
# https://docs.tilt.dev/helm.html

anvilops:
  image: anvilops/anvilops
  env:
    baseURL: http://localhost:3000
    appDomain: http://127.0.0.1.nip.io:3001 # Any subdomains of this will resolve to 127.0.0.1 (see https://nip.io/ for more info)
    harborProjectName: anvilops
    allowedIdps: https://access-ci.org/idp
    fileBrowserImage: anvilops/file-browser
    dockerfileBuilderImage: anvilops/dockerfile-builder
    railpackBuilderImage: anvilops/railpack-builder
    logShipperImage: anvilops/log-shipper
    registryProtocol: http
  dnsResolver: kube-dns.kube-system.svc.cluster.local
  serviceAccount:
    create: false
    secretName: kube-auth
  ingress:
    className: nginx
    hosts:
      - host: anvilops.rcac.purdue.edu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-cert
        hosts:
          - anvilops.rcac.purdue.edu
  securityContext:
    runAsUser: 0
    runAsGroup: 0
    runAsNonRoot: false
appProxy:
  image: anvilops/sandbox-proxy
  ingress:
    enabled: true
    className: nginx
    host: "*.anvilops.rcac.purdue.edu"
    tls:
      - secretName: tls-cert
        hosts:
          - "*.anvilops.rcac.purdue.edu"
postgres:
  generateCredentials: false
  image: postgres:17
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    storageClassName: standard
buildkitd:
  install: true
  address: "tcp://anvilops-buildkitd.default.svc.cluster.local:1234"
harbor:
  install: false
  expose:
    ingress:
      hosts:
        core: registry.anvil.rcac.purdue.edu
tenants:
  storageClassName: standard
  accessModes: [ReadWriteOnce]
