{{- if and .Values.rancher.enabled .Values.anvilops.serviceAccount.useKubeconfig }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "anvilops.fullname" . }}-get-kubeconfig
  labels:
    {{- include "anvilops.commonLabels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: get-kubeconfig
          image: {{ .Values.anvilops.image | quote }}
          args: ["./src/jobs/getKubeconfig.ts"]
          env:
            - name: CURRENT_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: RANCHER_API_BASE
              value: {{ .Values.rancher.apiBase }}
            - name: RANCHER_TOKEN
              valueFrom:
                secretKeyRef:
                  name: rancher-config
                  key: api-token
            - name: KUBECONFIG_SECRET_NAME
              value: kube-auth
            - name: CLUSTER_ID
              valueFrom:
                secretKeyRef:
                  name: kube-auth
                  key: cluster-id
            - name: USE_CLUSTER_NAME
              valueFrom:
                secretKeyRef:
                  name: kube-auth
                  key: use-cluster-name
                  optional: true
          securityContext:
            capabilities:
              drop: [ALL]
            runAsNonRoot: true
            readOnlyRootFilesystem: true
            runAsUser: 65532
            runAsGroup: 65532
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 512Mi
{{- end }}
