{{- if .Values.rancher.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "anvilops.fullname" . }}-rotate-rancher-credentials
  labels:
    {{- include "anvilops.commonLabels" . | nindent 4 }}
spec:
  schedule: "0 0 25 * *" # Run at 12:00AM on the 25th of each month
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 3600
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: rotate-rancher-credentials
              image: {{ .Values.anvilops.image | quote }}
              args: ["./src/jobs/rotateRancherCredentials.ts"]
              env:
                {{- with .Values.rancher.apiBase }}
                - name: RANCHER_API_BASE
                  value: {{ . }}
                {{- end }}
                - name: RANCHER_TOKEN
                  valueFrom:
                    secretKeyRef:
                      name: rancher-config
                      key: api-token
                {{- with .Values.anvilops.serviceAccount.secretName }}
                - name: KUBECONFIG
                  value: /opt/creds/kubeconfig
                - name: KUBECONFIG_SECRET_NAME
                  value: {{ . }}
                - name: CLUSTER_ID
                  valueFrom:
                    secretKeyRef:
                      name: kube-auth
                      key: cluster-id
                - name: USE_CLUSTER_NAME
                  valueFrom:
                    secretKeyRef:
                      name: kube-auth
                      key: use-cluster-name
                      optional: true
                {{- end }}
                - name: CURRENT_NAMESPACE
                  value: {{ .Release.Namespace }}
              securityContext:
                capabilities:
                  drop: [ALL]
                runAsNonRoot: true
                readOnlyRootFilesystem: true
                runAsUser: 65532
                runAsGroup: 65532
                allowPrivilegeEscalation: false
              resources:
                requests:
                  cpu: 500m
                  memory: 512Mi
                limits:
                  cpu: 500m
                  memory: 512Mi
              volumeMounts:
              {{- with .Values.anvilops.serviceAccount.secretName }}
                - name: kube-auth
                  mountPath: /opt/creds
                  readOnly: true
              {{- end }}
          volumes:
          {{- with .Values.anvilops.serviceAccount.secretName }}
            - name: kube-auth
              secret:
                secretName: {{ . }}
                optional: false
                items:
                  - key: kubeconfig
                    path: kubeconfig
          {{- end }}
{{- end }}