apiVersion: v1
kind: Service
metadata:
  name: {{ include "spilo.fullname" . }}
  labels:
    {{- include "spilo.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - name: postgresql
    port: 5432
    targetPort: 5432