{{- $existingSecret := (lookup "v1" "Secret" .Release.Namespace "harbor-admin-password") }}

{{- $adminPassword := randAlphaNum 64 | b64enc | quote -}}
{{- if $existingSecret -}}
  {{- $adminPassword = index $existingSecret.data "HARBOR_ADMIN_PASSWORD" -}}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: harbor-admin-password
type: Opaque
data:
  HARBOR_ADMIN_PASSWORD: {{ $adminPassword }}
