{{/* Generate a new password if one doesn't exist. If it does exist, reuse it since Postgres only updates the user password when it's set up for the first time. */}}
{{- $existingSecret := (lookup "v1" "Secret" .Release.Namespace "postgres-credentials") }}

{{- $postgresPassword := randAlphaNum 64 | b64enc | quote -}}
{{- if $existingSecret -}}
  {{- $postgresPassword = index $existingSecret.data "password" -}}
{{- end -}}

{{- $fieldEncKey := randBytes 32 | b64enc | quote -}}
{{- if $existingSecret }}
  {{- $fieldEncKey = index $existingSecret.data "field-encryption-key" }}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  labels:
    {{- include "anvilops.commonLabels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep # When this chart gets uninstalled, the volume isn't deleted, so we should keep the credentials around too
type: Opaque
data:
  password: {{ $postgresPassword }}
  field-encryption-key: {{ $fieldEncKey }}