{{/* Generate a new session secret if it doesn't already exist */}}

{{- $existingSecret := (lookup "v1" "Secret" .Release.Namespace "session-secret") }}

{{- $newSecret := randAlphaNum 64 | b64enc | quote -}}
{{- if $existingSecret -}}
  {{- $newSecret = index $existingSecret.data "secret" -}}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: session-secret
  labels:
    {{- include "anvilops.commonLabels" . | nindent 4 }}
type: Opaque
data:
  secret: {{ $newSecret }}
