anvilops:
  image: registry.anvil.rcac.purdue.edu/anvilops/anvilops:main-392-52c14d8242ae3d04e0c7fcc5ad92c5da195adbf0
  env:
    baseURL: https://anvilops.geddes.rcac.purdue.edu
    appDomain: https://anvilops.geddes.rcac.purdue.edu
    harborProjectName: anvilops
    allowedIdps: https://access-ci.org/idp
    fileBrowserImage: registry.anvil.rcac.purdue.edu/anvilops/file-browser:latest
    dockerfileBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/dockerfile-builder:latest
    railpackBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/railpack-builder:latest
  cluster:
    name: "Geddes"
    faq:
      question: "What is the Geddes Composable Platform?"
      answer: "Geddes is a Community Composable Platform optimized for composable, cloud-like workflows that are complementary to the batch applications run on Community Clusters."
      link: https://www.rcac.purdue.edu/knowledge/geddes/overview
  dnsResolver: kube-dns.kube-system.svc.cluster.local
  serviceAccount:
    create: false
    secretName: kube-auth
  ingress:
    className: nginx
    hosts:
      - host: anvilops.geddes.rcac.purdue.edu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-cert
        hosts:
          - anvilops.geddes.rcac.purdue.edu
appProxy:
  image: registry.anvil.rcac.purdue.edu/anvilops/sandbox-proxy:main-9-c57efa93c146824100e6a3682c4e25e5daf9f07b
  ingress:
    enabled: true
    className: nginx
    host: "*.anvilops.geddes.rcac.purdue.edu"
    tls:
      - secretName: tls-cert
        hosts:
          - "*.anvilops.geddes.rcac.purdue.edu"
postgres:
  image: postgres:17
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    storageClassName: geddes-standard-multinode
buildkitd:
  install: true
  address: "tcp://buildkitd:1234"
harbor:
  # We already have Harbor installed, so no need to install another instance just for AnvilOps.
  install: false
  expose:
    ingress:
      hosts:
        core: geddes-registry.rcac.purdue.edu
logging-operator:
  # We already have the operator installed on Anvil Composable in the `cattle-logging-system` namespace.
  install: false
tenants:
  storageClassName: depot-cloud-filesystem
  accessModes: [ReadWriteOnce]
