anvilops:
  image: geddes-registry.rcac.purdue.edu/anvilops/anvilops:main-414-3def36850855e509eef34a9a93d8be3433a4a6b6
  env:
    baseURL: https://anvilops.geddes.rcac.purdue.edu
    appDomain: https://geddes.rcac.purdue.edu
    harborProjectName: anvilops
    allowedIdps: https://idp.purdue.edu/idp/shibboleth
    loginType: shibboleth
    # The value of loginClaim is ignored in the patched Geddes version.
    loginClaim: eppn
    fileBrowserImage: registry.anvil.rcac.purdue.edu/anvilops/file-browser:latest
    dockerfileBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/dockerfile-builder:latest
    railpackBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/railpack-builder:latest
    logShipperImage: registry.anvil.rcac.purdue.edu/anvilops/log-shipper:latest
  cluster:
    name: "Geddes"
    faq:
      question: "What is the Geddes Composable Platform?"
      answer: "Geddes is a Community Composable Platform optimized for composable, cloud-like workflows that are complementary to the batch applications run on Community Clusters."
      link: https://www.rcac.purdue.edu/knowledge/geddes/overview
  dnsResolver: kube-dns.kube-system.svc.cluster.local
  serviceAccount:
    create: false
    secretName: kube-auth
  ingress:
    className: nginx
    hosts:
      - host: anvilops.geddes.rcac.purdue.edu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-cert
        hosts:
          - anvilops.geddes.rcac.purdue.edu
  apps:
    ingress:
      className: nginx
      annotations:
        # Allow apps to be accessed over the internet, not just on the Purdue network
        # https://www.rcac.purdue.edu/knowledge/geddes/services
        kubernetes.io/ingress.class: "public"
postgres:
  image: postgres:17
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    storageClassName: geddes-standard-multinode
buildkitd:
  install: true
  address: "tcp://buildkitd:1234"
harbor:
  # We already have Harbor installed, so no need to install another instance just for AnvilOps.
  install: false
  expose:
    ingress:
      hosts:
        core: geddes-registry.rcac.purdue.edu
tenants:
  storageClassName: depot-cloud-filesystem
  accessModes: [ReadWriteOnce]
