anvilops:
  image: registry.anvil.rcac.purdue.edu/anvilops/anvilops:main-391-736e8d515d5efc7ac13ce99f736d5d21014da332
  env:
    baseURL: https://anvilops.geddes.rcac.purdue.edu
    appDomain: https://anvilops.geddes.rcac.purdue.edu
    clusterName: Geddes
    harborProjectName: anvilops
    allowedIdps: https://access-ci.org/idp
    fileBrowserImage: registry.anvil.rcac.purdue.edu/anvilops/file-browser:latest
    dockerfileBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/dockerfile-builder:latest
    railpackBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/railpack-builder:latest
  dnsResolver: kube-dns.kube-system.svc.cluster.local
  serviceAccount:
    create: false
    secretName: kube-auth
  ingress:
    className: nginx
    hosts:
      - host: anvilops.geddes.rcac.purdue.edu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-cert
        hosts:
          - anvilops.geddes.rcac.purdue.edu
appProxy:
  image: registry.anvil.rcac.purdue.edu/anvilops/sandbox-proxy:main-9-c57efa93c146824100e6a3682c4e25e5daf9f07b
  ingress:
    enabled: true
    className: nginx
    host: "*.anvilops.geddes.rcac.purdue.edu"
    tls:
      - secretName: tls-cert
        hosts:
          - "*.anvilops.geddes.rcac.purdue.edu"
postgres:
  image: postgres:17
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    storageClassName: geddes-standard-multinode
buildkitd:
  install: true
  address: "tcp://buildkitd:1234"
harbor:
  # We already have Harbor installed, so no need to install another instance just for AnvilOps.
  install: false
  expose:
    ingress:
      hosts:
        core: geddes-registry.rcac.purdue.edu
logging-operator:
  # We already have the operator installed on Anvil Composable in the `cattle-logging-system` namespace.
  install: false
tenants:
  storageClassName: depot-cloud-filesystem
  accessModes: [ReadWriteOnce]
