/* Purdue color theme */
/* https://starlight.astro.build/guides/css-and-tailwind/#theming */

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #292319;
  --sl-color-accent: #cfb991;
  --sl-color-accent-high: #cfc8ba;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #ecedf2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b95;
  --sl-color-gray-4: #555860;
  --sl-color-gray-5: #353840;
  --sl-color-gray-6: #24272e;
  --sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #dcd6cc;
  --sl-color-accent: #7d6943;
  --sl-color-accent-high: #3a3121;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272e;
  --sl-color-gray-2: #353840;
  --sl-color-gray-3: #555860;
  --sl-color-gray-4: #888b95;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #ecedf2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

code {
  color: var(--sl-color-accent);
}
