anvilops:
  image: registry.anvil.rcac.purdue.edu/anvilops/anvilops:main-399-5b34cbd88840e6bf629b96fafc9172d556f812fb # {"$imagepolicy": "anvilops-dev:anvilops-imagepolicy"}
  env:
    baseURL: https://anvilops.rcac.purdue.edu
    appDomain: https://anvilops.rcac.purdue.edu
    harborProjectName: anvilops
    allowedIdps: https://access-ci.org/idp
    fileBrowserImage: registry.anvil.rcac.purdue.edu/anvilops/file-browser:latest
    dockerfileBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/dockerfile-builder:latest
    railpackBuilderImage: registry.anvil.rcac.purdue.edu/anvilops/railpack-builder:latest
  cluster:
    name: "Anvil Composable"
    faq:
      question: "What is the Anvil Composable Subsystem?"
      answer: "Anvil Composable Subsystem is a Kubernetes based private cloud managed with Rancher that provides a platform for creating composable infrastructure on demand. This cloud-style flexibility provides researchers the ability to self-deploy and manage persistent services to complement HPC workflows and run container-based data analysis tools and applications."
      link: https://www.rcac.purdue.edu/knowledge/anvil/composable
  dnsResolver: kube-dns.kube-system.svc.cluster.local
  serviceAccount:
    create: false
    secretName: kube-auth
  ingress:
    className: nginx
    hosts:
      - host: anvilops.rcac.purdue.edu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: tls-cert
        hosts:
          - anvilops.rcac.purdue.edu
appProxy:
  image: registry.anvil.rcac.purdue.edu/anvilops/sandbox-proxy:main-9-c57efa93c146824100e6a3682c4e25e5daf9f07b
  ingress:
    enabled: true
    className: nginx
    host: "*.anvilops.rcac.purdue.edu"
    tls:
      - secretName: tls-cert
        hosts:
          - "*.anvilops.rcac.purdue.edu"
postgres:
  image: postgres:17
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    storageClassName: anvil-filesystem
buildkitd:
  install: true
  address: "tcp://buildkitd:1234"
harbor:
  # We already have Harbor installed, so no need to install another instance just for AnvilOps.
  install: false
  expose:
    ingress:
      hosts:
        core: registry.anvil.rcac.purdue.edu
logging-operator:
  # We already have the operator installed on Anvil Composable in the `cattle-logging-system` namespace.
  install: false
tenants:
  storageClassName: anvil-filesystem
  accessModes: [ReadWriteOnce]
