name: Build and Publish DB Migration Docker Image
on:
  push:
    branches: [main]
    paths:
      - "backend/prisma/**"
      - "backend/package.json"
      - "backend/package-lock.json"
      - "backend/prisma.config.ts"
      - ".github/workflows/build-publish-db-migrate-image.yml"
  workflow_dispatch:
jobs:
  push_to_registry:
    name: Push DB migration image to registry
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout files
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            backend/

      - name: Log in to container registry
        run: docker login -u '${{ secrets.DOCKER_USERNAME }}' -p '${{ secrets.DOCKER_PASSWORD }}' registry.anvil.rcac.purdue.edu

      - name: Build and push DB Migration Docker image
        run: docker build --push -f ./backend/prisma/Dockerfile -t registry.anvil.rcac.purdue.edu/anvilops/migrate-db:${{ github.ref_name }}-${{ github.run_number }}-${{ github.sha }}${{ github.event_name == 'push' && ' -t registry.anvil.rcac.purdue.edu/anvilops/migrate-db:latest' || '' }} --cache-from=type=registry,ref=registry.anvil.rcac.purdue.edu/anvilops/migrate-db:latest --cache-to=type=inline ./backend

      - name: Log out of container registry
        if: always()
        run: docker logout registry.anvil.rcac.purdue.edu
